{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="box">
        <div class="root">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}<a href="{{ login_url }}">sign in</a>
                {% endblocktrans %}
            </p>

            <form class="signup" id="login" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% for field in form %}
                    <p>{{ field }}</p>
                {% endfor %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button id="login-button" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
    {% include 'components/form_script.html' %}
{% endblock %}
