.root-message {
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.root-message input {
    font-family: 'Uchen', serif;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    border-radius: 3px;
    padding: 7px;
    height: 30px;
    width: 100%;
}

#send-button {
    font-weight: bold;
    color: white;
    margin-top: 8px;
    font-size: 14px;
    background-color: #0095F6;
    border: none;
    padding: 8px 21px 8px 21px;
    border-radius: 4px;
    transition: .3s;
}

#send-button:hover {
    color: #000000;
    background-color: #0095F6;
}