{% extends 'base.html' %}

{% block title %}{{ chat.name }}{% endblock %}

{% block content %}

    <div class="detail-content">
        <div class="message">
            {% for message in messages %}
                <div class="message-box">
                    <a href="{% url 'users:user_profile' message.owner.pk %}"><span>{{ message.owner.username }}</span></a>
                    <hr>
                    <p class="message-text">{{ message.text }}</p>
                    <p class="time">{{ message.created|time:"H:i" }}</p>
                </div>
            {% endfor %}
        </div>
        {% if is_member %}
            {% include 'components/sendMessageForm.html' %}
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="member" value="member" hidden>

                {{ member_form.as_p }}
                <button type="submit">SignUp</button>
            </form>
        {% endif %}
    </div>

    <script>
        window.onload = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }
        window.onbeforeunload = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }
    </script>

{% endblock %}

