{% extends 'base.html' %}

{% block title %}{{ chat.name }}{% endblock %}

{% block content %}

    <div class="detail-content">
        <div class="message">
            {% for message in messages %}
                {% if message.owner == user %}
                <div class="message-box right">
                    <a href="{% url 'users:user_profile' message.owner.pk %}"><span>{{ message.owner.username }}</span></a>
                    <hr>
                    {% if message.photo %}
                        <div id="message-image"><a href="{{ message.photo.url }}"><img class="message-photo"
                                                                                       src="{{ message.photo.url }}"
                                                                                       alt="message"></a></div>
                    {% endif %}
                    {% if message.voice %}
                    <div class="message-file" >
                        <div class="file_link_block">
                            <a href="{{ message.voice.url }}">
                                <div class="file_icon"></div>
                                <div><p>{{ message.voice.name }}</div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <p class="message-text">{{ message.text }}</p>
                    <p class="time">{{ message.created|time:"H:i" }}</p>

                </div>
            {% else %}
            <div class="message-box">
                    <a href="{% url 'users:user_profile' message.owner.pk %}"><span>{{ message.owner.username }}</span></a>
                    <hr>
                    {% if message.photo %}
                        <div id="message-image"><a href="{{ message.photo.url }}"><img class="message-photo"
                                                                                       src="{{ message.photo.url }}"
                                                                                       alt="message"></a></div>
                    {% endif %}
                    {% if message.voice %}
                    <div class="message-file" >
                        <div class="file_link_block">
                            <a href="{{ message.voice.url }}">
                                <div class="file_icon"></div>
                                <div><p>{{ message.voice.name }}</div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    <p class="message-text">{{ message.text }}</p>
                    <p class="time">{{ message.created|time:"H:i" }}</p>

                </div>
            {% endif %}
            {% endfor %}
        </div>
        {% if is_member %}
            {% include 'components/sendMessageForm.html' %}
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" name="member" value="member" hidden>

                {{ member_form.as_p }}
                <button class="search-button member" type="submit">Login to Chat</button>
            </form>
        {% endif %}
    </div>

    <script>
        window.onload = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }
        window.onbeforeunload = () => {
            window.scrollTo(0, document.body.scrollHeight);
        }

        document.querySelector('#image-select').addEventListener('click', () => {
            document.querySelector('#id_message-photo').click()
        })

        document.querySelector('#video-select').addEventListener('click', () => {
            document.querySelector('.message-video-input').click()
        })
    </script>

{% endblock %}

