{% extends 'base.html' %}

{% block title %} Chat {% endblock %}

{% block content %}
    <div class="content">

        <div class="sidebar">
            <div class="chat-search-form">
                <form action="" method="GET">
                    <input name="q" type="text" placeholder="Search...">
                    <button class="search-button" type="submit">Search</button>
                </form>
            </div>

            {% for member_data in members_data %}
                <a href="{{ member_data.chat.get_absolute_url }}">
                    <div class="chat-list">
                        <p>{{ member_data.chat.name }}</p>
                    </div>
                </a>
            {% endfor %}

        </div>

        <div class="chat-content"></div>
    </div>

{% endblock %}