{% load static %}
<!DOCTYPE html>
<html lang="en" style="
        background: url({% static 'images/background.jpg' %}) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Chat {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <link rel="stylesheet" href="{% static 'css/message.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

</head>
<body>
    {% include 'components/header.html' %}
    {% block content %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'js/profile.js' %}" ></script>
    <script src="{% static 'js/script.js' %}"></script>

</body>
</html>