{% extends 'base.html' %}
{% load user_profile_tags %}

{% block title %} {{ profile.user.username }} {% endblock %}

{% block content %}
    <div class="detail-content profile">

        <div class="profile-image-block">
            {% if profile.photo %}
                <a href="{{ profile.photo.url }}"><img class="user-profile-photo" src="{{ profile.photo.url }}" alt="jopa"></a>
            {% endif %}
        </div>

        <div class="profile-description">
            <div class="profile-username">
                <p>{{ profile.user.username }}</p>
            </div>
            <hr>
            <div class="profile-bio">
                <p>{{ profile.bio }}</p>
                {% if not this_profile_user %}
                    <a href="{% url 'users:private_message' profile.user.id %}"><button id="send-button">start dialog</button></a>
                {% else %}
                    {% get_profile_private_chats user as profile_pc %}
                    {% for pc in profile_pc %}
                        <p>Jopa</p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script></script>
{% endblock %}